dlt[filesystem,sql_database,pyiceberg]>=1.0.0
sqlalchemy>=2.0.18
pymysql>=1.1.0
mysql-replication>=0.9.1
urllib3>=1.26.0
pyarrow>=14.0.0
pyiceberg>=0.6.0
dagster>=1.7.0
dagster-webserver>=1.7.0
dagster-postgres>=0.23.0
psycopg2-binary>=2.9.0
