---
apiVersion: batch/v1
kind: Job
metadata:
  name: create-minio-bucket
  namespace: lakehouse
spec:
  template:
    metadata:
      name: create-minio-bucket
    spec:
      restartPolicy: OnFailure
      containers:
      - name: mc
        image: quay.io/minio/mc:latest
        command:
        - /bin/sh
        - -c
        - |
          /usr/bin/mc alias set minio http://minio:9000 minio minio123
          /usr/bin/mc mb minio/warehouse --ignore-existing
          /usr/bin/mc ls minio
          echo "MinIO bucket created successfully"
